{% extends 'registration/base.html' %}

{% block form_header %}
    {% if validlink %}
        SET PASSWORD
    {% else %}
        LiNK EXPIRED
    {% endif %}
{% endblock %}

{% block formblock %}
    {% if validlink %}
        {{ block.super }}
    {% else %}
    <form action="{% url 'login' %}">
        <input type="submit" value="Go back to Login" class="submit-button">
    </form>
    {% endif %}
{% endblock %}
{% block bottom_links %}
    <a href="{% url 'registeration' %}">Looking for new registration?</a> | <a href="{% url 'password_reset' %}">Wanna Retry? Reset Password </a> 
{% endblock %}
