{% extends 'dashboard/base.html' %}


{% block description %}
	I don't know, how confident the lab authorities are to hide the password file! But I am sure they have stored
	the passwords somewhere as plain text! I am wondering, How is it even possible to hide a file in website, even when
	there each and every other pages are getting listed in Google, when I search there!
{% endblock %}

{% block content %}
{% endblock %}


{% block hintbox %}
Check How Search Engine Bots work and how they determine which all pages to crawl!
{% endblock %}

