{% extends 'dashboard/base.html' %}


{% block description %}
This is actually a fantesy lock! Locks can be picked up only by understanding how they are made!
{% endblock %}

{% block content %}
<div class="glass p-3">
	<div class="row">
		<div class="col-md-12 text-center">
			<form action="" method="POST">
				<input type="text" id="username" placeholder="username" name="username" maxlength="200" />
				<input type="password" id="password" placeholder="secret password"  name="password" maxlength="200" />
				<input type="button" value="Login" onclick="go(); return false" >
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">

function go() {
	var user = document.getElementById('username').value;
	var pass = document.getElementById('password').value;
	if ( user == "" ) {
		alert("Invalid User!");
	}
	else if ( pass == "" ) {
		alert("Invalid Password!");
	} else {
		var location = "./" + user.toLowerCase() + "/" + pass.toLowerCase() + ".html";
	}
}

</script>

<!-- SITE DEVELOPED BY @newlabassistant -->
{% endblock %}

{% block hintbox %}
   Looking for Hint ? Search everywhere you can possibaly do!
{% endblock %}

