{% extends 'dashboard/base.html' %}


{% block description %}
Hey, it's always cool to go through general instructions and hints!<br>
Always there will be 👶 new bie's in the system, it's just a walk through for them!<br>
<br>
<br>
These are small HTML and Javascript Challenges; or some common languages such as Morse code or something.
<br><br><br>
<b>HINT 01</b> <br>

Its always better to check the source code (Right Click on page > View Source) of the page to find
how the page is working; or at least there will be some hints which might can help you to understand the flow;
<br><br><br>


<b>HINT 02</b> <br>
Always and Always think, How this might be working normally! (General Clues will help for that.
If you find hard to flow like that, Just Remember, general programs always execute line by line. So take time,
read a line, and put a random guess, how it will be flowing!<br>
For example; you might, can easily guess of <kbd>onclick="some_fn()"</kbd> in <br>
<kbd>&lt;span onclick=&quot;alert(&quot;Are You Happy?&quot;)&quot;&gt;Oops!&lt;/span&gt;</kbd><br>
will work like <kbd>on click</kbd> will execute a function; when i click on that element!
<br><br><br>


<b>HINT 03</b> <br>
You can inspect a webpage to edit an HTML Page and Run What ever you want to get it displayed there!
Guess, if there is a hidden field, and what to do if you want to change its value ?


<br><br><br>

<b>HINT 04</b> <br>
Browser Handles alot and alot of things for us, This includes Cookies and User Agents; try to hatch what they do mean!

<br><br><br>

<b>HINT 05</b> <br>
Do you know a file extension (like resume.docx, students-list.xlsx, log.txt, profile.jpeg) is just a virtual indicator?
Which helps to guess the application <u>with which it should be work best with</u>?


<br><br><br>

<b>HINT 06</b> <br>
We have learnt of Decimal System in Classes! Which displays numbers/content with 10 symbols; (ie 0-9), Then we have Binary,
ASCII, and a lot; Not only we can represent them, but also, we can apply operations like, Arithmetic, conditional or even Logical Operations on them!
There are a lot of online tools for them!


<br><br><br>

<b>HINT 07</b> <br>
In order to save the web, we have a lot of encoding which in returns saves it from mis interrupting the content.
It will be always better to be aware of such encodings such as ASCII, URL ENCODE, HTML ENCODING!

<br><br><br>

<b>HINT 08</b> <br>
Sometimes websites will have hidden files like robots.txt or sitemap.xml to help search engines,
these might can help us find another files or directories; or even a 404 (wrong url) can help us sometimes!

<br><br><br>

I hope the above-mentioned clues are enough to bypass the contests! ALL THE VERY BEST!

<br><br><br>

It will be appreciable to identify and report any bugs in the system! They are made quickly by someone like you for your entertainment!





{% endblock %}

{% block content %}
{% endblock %}

{% block hintbox %}
	It's a good catch you checked the view source;
	He sends the password to his email,
{% endblock %}

