{% extends 'dashboard/base.html' %}


{% block description %}
	In Order to perform an operation, We need 2 operands and an operator! You have the operator in the title and 
	operands in the body! What the heck you need more? Combine them and you will get the flag! 
{% endblock %}

{% block content %}
<div class="glass p-3">
	<div class="row">
		<div class="col-md-12">
			<h4>String 1</h4>
			<p><code>{{ BINARY_01 }}</code></p>
		</div>
		<div class="col-md-12">
			<h4>String 2</h4>
			<p><code>{{ BINARY_02 }}</code></p>
		</div>
	</div>
</div>

{% endblock %}

{% block hintbox %}
I appreciate the thought,
But the answers are not always at same location always!

{% endblock %}

